<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>address add</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style1.css') }}">
    </head>
    <body>
        <div id="navbar">
            <h1 style="margin: 0px;">{{user.first_name}}'s Account Information</h1>
            <div class="nav2">
                <a href="/dashboard">Home</a> |
                <a href="/logout">Logout</a>
            </div>
        </div>
        <a href="/addAdressPage/{{user.id}}">add address</a>
        <h1>My address</h1>
        <p>Street : {{address.street}}</p>
        <p>City : {{address.city}}</p>
        <p>State : {{address.state}}</p>
        <p>Zip : {{address.zip}}</p>
        <a href="#">Click to Edit address</a>
        
    </body>
</html>